<!-- <!doctype html>    
    <html lang="en">    
        
        <head>    
            <meta charset="utf-8">    
            <title>toggle demo</title>    
            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>    
        </head>    
        
        <body>    
            <button>Toggle</button>    
            <div>Hello</div>    
            <script>    
                $("button").click(function()    
                {    
                    $("div").toggle();    
                });    
            </script>    
        </body>    
        
    </html>  -->
    <!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("body").on({
        mouseenter: function(){
            $(this).css("background-color", "gray");
        },  
       
        mouseleave: function(){
            $(this).css("background-color", "red");
        },
       
        click: function(){
            $(this).css("background-color", "yellow");
        }
    });
});
</script>
</head>
<body>

<p>Double click and move the mouse pointer to change the background color.</p>

</body>
</html>